<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <link rel="stylesheet" href="/css/header.css">
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    
    <link rel="stylesheet" href="/css/footer.css">
    
    <link rel="stylesheet" href="/css/images.css">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header-background header-format">
        <div id="header-logo-searchbar-cuotas">
            <img src="img\logo-mercado-liebre.svg" width="360px" alt="Logo mercado liebre">
            <div>
            </div>
            <div id="header-searchbar">
                <input id="search-textbox" type="text" placeholder="Buscá productos y marcas">
                <button id="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <p id="compra-en-cuotas">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <div class="header-links">
            <div class="navbar header-links-1">
                <ul class="nav-link-list">
                    <li><a href="#" class="desestilizar">Ofertas</a></li>
                    <li><a href="#" class="desestilizar">Tiendas Oficiales</a></li>
                    <li><a href="#" class="desestilizar">Vender</a></li>
                    <li><a href="#" class="desestilizar">Ayuda</a></li>
                </ul>
            </div>
            <div class="header-links-div">
            </div>
            <div class="navbar header-links-2">
                <ul class="nav-link-list">
                    <li><a href="register" class="desestilizar">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="login" class="desestilizar">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#" class="desestilizar">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="center">
            <button id="menu-button">
            <i class="fa fa-bars burger"></i>
            </button>
        </div>
    </header>
    <article class="gray-background">
        <img src="\img\img-home-banner.jpg" width="100%" alt="Banner de ofertas">
    </article>
    <div class="gray-background">
        <main class="main-format">
            <ul class="nav-link-list">
                <h3 class="titulares">Basado en tu última visita</h3>
                <li>
                    <section class="product-section">
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-cafetera-moulinex.jpg">
                            </section>
                            <section class="product-info-border">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="precio-descuento">
                                <p class="precios">$6770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-macbook-pro-2019.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$230.000</p>
                                    <p class="descuentos">20% off</p>
                                </div>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-samsung-galaxy-s10.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$70.500</p>
                                    <p class="descuentos">10% off</p>
                                </div>
                                <h4 class="descripcion">Samsung Galaxy S10</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-tv-samsung-smart.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$23.200</p>
                                    <p class="descuentos">5% off</p>
                                </div>
                                <h4 class="descripcion">SmartTv Samsung 43"</h4>
                            </section>
                        </article>
                    </section>
                </li>
                
                <h3 class="titulares">Sección ofertas</h3>
                <li>
                    <section class="product-section">
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-cafetera-moulinex.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$6.770</p>
                                    <p class="descuentos">40% off</p>
                                </div>
                                <h4 class="descripcion">Cafetera Moulinex</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-macbook-pro-2019.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$230.000</p>
                                    <p class="descuentos">20% off</p>
                                </div>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-samsung-galaxy-s10.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$70.500</p>
                                    <p class="descuentos">10% off</p>
                                </div>
                                <h4 class="descripcion">Samsung Galaxy S10</h4>
                            </section>
                        </article>
                        <article class="article-margin article-background">
                            <section>
                                <img class="img-center img-resize" src="img\img-tv-samsung-smart.jpg">
                            </section>
                            <section class="product-info-border">
                                <i class="fas fa-truck truck-icon"></i>
                                <div class="precio-descuento">
                                    <p class="precios">$23.200</p>
                                    <p class="descuentos">5% off</p>
                                </div>
                                <h4 class="descripcion">SmartTv Samsung 43"</h4>
                            </section>
                        </article>
                    </section>
                </li>
            </ul>
        </main>
    </div>

    <footer class="footer-format">
        <div class="footer-banners">
            <article>
                <i class="fas fa-credit-card sized-icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift sized-icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield sized-icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        </div>
        <article>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>

    </footer>
    
</body>
</html>